button {
    margin-left: 8px;
}

.phone-select {
    width: 70px;
}

td span, i {
    font-size: 11px;
    color: rgb(111, 149, 0);
}

td .status {
    text-align: center;
    font-size: 12px;
    border: 1px solid;
    display: block;
    width: 6rem;
    padding: 0.3rem 0;
    color: rgb(53, 139, 252);
}

.submitted {
    color: white !important;
    background-color: rgb(220 87 0 / 87%);
}

.rejected {
    background-color: #0070c9;
    color: white !important;
}

.delete-btn {
    background: var(--delete-color);
}