header {
    padding: 2rem 2rem 0;
}

.bx-search {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 1rem;
    font-size: 20px;
}

input::placeholder,
.bx-search {
    color: #969BA0;
}

header div .user {
    border-left: 1px solid #D0D6DE;
    padding-left: 1.5rem;
}

header div .user p span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header div .user p {
    color: #464255;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

nz-breadcrumb {
    padding: 1.4rem 2rem;
}

@media screen and (max-width: 600px) {
    .breadcrumb {
        padding-top: 0 !important;
    }

    header,
    .breadcrumb {
        padding: 1rem 0.5rem !important;
    }

    .toolbar form {
        width: 100% !important;
        margin: 0 !important;
    }

    .toolbar .user {
        display: none !important;
    }
}