<header>
    <div class="toolbar d-flex align-items-center">
        <form class="w-50 me-4 position-relative" role="search">
            <input type="search" class="form-control rounded-1 px-3" placeholder="Tìm kiếm"
                aria-label="Search">
            <i class='position-absolute bx bx-search'></i>
        </form>

        <div class="flex-shrink-0 dropdown ms-auto d-flex align-items-center user">
            <p class="m-0 me-3"><span>Xin chào,</span> {{ user['fullname'] }}</p>
            <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" (click)="Signout()">Sign out</a></li>
            </ul>
        </div>
    </div>
</header>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0 rounded-3">
        <li class="breadcrumb-item" *ngFor="let path of paths">
            <a class="link-body-emphasis" [routerLink]="[path]">
                <i class='bx bx-home'></i>
                <span class="visually-hidden">Home</span>
            </a>
        </li>
    </ol>
</nav>