<div class="body">
    <div class="title">
        <h3>Dashboard</h3>
        <p>Hi, Bằng Bằng. Welcome back to Admin!</p>
    </div>

    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="width <= 600 ? 24 : width <= 1024 ? 12 : 6">
            <div class="bg-white rounded-2 p-3 w-100 h-100">
                <div class="m-0">
                    <p class="m-0 ps-2">New</p>
                </div>
                <div class="p-3">
                    <h4>999</h4>
                    <p><i class='bx bx-up-arrow-alt'></i>25%</p>
                    <span>vs previous 30days</span>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="width <= 600 ? 24 : width <= 1024 ? 12 : 6">
            <div class="bg-white rounded-2 p-3 w-100 h-100">
                <div class="m-0">
                    <p class="m-0 ps-2">New</p>
                </div>
                <div class="p-3">
                    <h4>999</h4>
                    <p><i class='bx bx-up-arrow-alt'></i>25%</p>
                    <span>vs previous 30days</span>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="width <= 600 ? 24 : width <= 1024 ? 12 : 6">
            <div class="bg-white rounded-2 p-3 w-100 h-100">
                <div class="m-0">
                    <p class="m-0 ps-2">New</p>
                </div>
                <div class="p-3">
                    <h4>999</h4>
                    <p><i class='bx bx-up-arrow-alt'></i>25%</p>
                    <span>vs previous 30days</span>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="width <= 600 ? 24 : width <= 1024 ? 12 : 6">
            <div class="bg-white rounded-2">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>

    <div id="divChart" class="d-flex justify-content-between m-3">
        <canvas id="myChart"></canvas>

        <canvas id="myChart1"></canvas>
    </div>

    <div class="table-area">
        <table class="responsive-table table">
            <thead>
                <tr class="table-secondary">
                    <th><input type="checkbox"> #</th>
                    <th>Last name</th>
                    <th>Points</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"> Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                </tr>
                <tr>
                    <td><input type="checkbox"> Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                    <td>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                </tr>
                <tr>
                    <td><input type="checkbox"> Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                </tr>
                <tr>
                    <td><input type="checkbox"> Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                    <td>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                </tr>
                <tr>
                    <td><input type="checkbox"> Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                </tr>
                <tr>
                    <td><input type="checkbox"> Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                    <td>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                </tr>
                <tr>
                    <td><input type="checkbox"> Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                </tr>
                <tr>
                    <td><input type="checkbox"> Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                    <td>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                </tr>

            </tbody>
        </table>

        <nav aria-label="navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>