<div class="d-flex flex-column justify-content-center align-items-center bg-white h-100">
    <a href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis justify-content-center text-decoration-none">
        <img class="logo" src="../../../../assets/image/logo_exam.png" alt="" />
    </a>
    <p class="title m-0">Trang admin quản lý chấm công</p>
    <ul nzMode="inline" nz-menu [nzInlineCollapsed]="width > 480 && width <= 1024 ? true : false"
        class="nav nav-pills flex-column mb-auto mt-4">
        <li class="nav-item align-items-center w-100" nz-menu-item [routerLink]="['dashboard']" *ngIf="isAdmin()">
            <span nz-icon nzType="home" nzTheme="outline"></span>
            <span style="margin-left: 10px;">Dashboard</span>
        </li>
        <li class="nav-item align-items-center w-100" nz-menu-item [routerLink]="['attendance']" *ngIf="!isAdmin()">
            <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
            <span style="margin-left: 10px;">Chấm công</span>
        </li>
        <li class="nav-item align-items-center w-100" nz-submenu nzTitle="Nhân viên" nzIcon="team">
            <ul *ngFor="let menu of newMenus('Nhân viên')">
                <li nz-menu-item [routerLink]="menu.url">{{ menu.title }}</li>
            </ul>
        </li>
        <li class="nav-item align-items-center w-100" nz-menu-item [routerLink]="['calendar']">
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            <span style="margin-left: 10px;">Lịch làm việc</span>
        </li>
        <li class="nav-item align-items-center w-100" *ngIf="isAdmin()" nz-menu-item
            [routerLink]="['report']">
            <span nz-icon nzType="stock" nzTheme="outline"></span>
            <span style="margin-left: 10px;">Báo cáo</span>
        </li>
        <li class="nav-item align-items-center w-100" *ngIf="isAdmin()" nz-submenu nzTitle="Cài đặt" nzIcon="setting">
            <ul *ngFor="let menu of newMenus('Cài đặt')">
                <li nz-menu-item [routerLink]="menu.url">{{ menu.title }}</li>
            </ul>
        </li>
    </ul>

    <ul class="extension nav nav-pills nav-flush flex-column mt-auto px-3 w-100" *ngIf="!isAdmin()">
        <li class="nav-item">
            <i class='bx bx-comment-dots'></i>
            <span>53</span>
        </li>
        <li>
            <i class='bx bx-bell'></i>
            <span>21</span>
        </li>
        <li class="nav-item">
            <i class='bx bx-gift'></i>
            <span>15</span>
        </li>
        <li>
            <i class='bx bx-cog'></i>
            <span>19</span>
        </li>
    </ul>
</div>