<div class="d-flex flex-column justify-content-center align-items-center bg-white h-100" style="width: 280px;">
    <a href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis justify-content-center text-decoration-none">
        <img width="40%" src="../../../../assets/image/logo_exam.png" alt="" />
    </a>
    <p class="m-0">Trang admin quản lý chấm công</p>
    <ul style="width: 80%;" nz-menu nzMode="inline" class="nav nav-pills flex-column mb-auto mt-4">
        <li class="nav-item" *ngFor="let item of menu" nz-submenu [nzTitle]="item.title" [nzIcon]="item.icon"
            (click)="handleRoute(item.title)">
            <ul *ngIf="item.title == 'Nhân viên'">
                <li nz-menu-item>
                    <a [routerLink]="item.url">Overview</a>
                </li>
                <li nz-menu-item>
                    <a routerLink="employee/salary">Lịch sử chấm công</a>
                </li>
                <li nz-menu-item>Tiền lương</li>
                <li nz-menu-item *ngIf="user.role == 'Administrator'">Báo cáo</li>
            </ul>
        </li>
    </ul>

    <ul class="nav nav-pills nav-flush flex-column mt-auto px-3 w-100">
        <li class="nav-item">
            <i class='bx bx-comment-dots'></i>
            <span>53</span>
        </li>
        <li>
            <i class='bx bx-bell'></i>
            <span>21</span>
        </li>
        <li class="nav-item">
            <i class='bx bx-gift'></i>
            <span>15</span>
        </li>
        <li>
            <i class='bx bx-cog'></i>
            <span>19</span>
        </li>
    </ul>
</div>