<div class="d-flex flex-column justify-content-center align-items-center bg-white h-100">
    <a href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis justify-content-center text-decoration-none">
        <img class="logo" src="../../../../assets/image/logo_exam.png" alt="" />
    </a>
    <p class="title m-0">Trang admin quản lý chấm công</p>
    <ul nzMode="inline" nz-menu [nzInlineCollapsed]="width > 600 && width <= 1024 ? true : false"
        class="nav nav-pills flex-column mb-auto mt-4 position-relative">

        <li *ngIf="loading" class="loading">
            <ng-template #indicatorTemplate>
                <span nz-icon nzType="loading"></span>
                <span style="margin-left: 10px;">Đang tải</span>
            </ng-template>
            <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
        </li>

        <li class="nav-item align-items-center w-100" nz-menu-item *ngFor="let menu of parentMenu()"
            [routerLink]="menu.url">
            <span nz-icon [nzType]="menu.icon" nzTheme="outline"></span>
            <span style="margin-left: 10px;">{{ menu.title }}</span>
        </li>

        <li class="nav-item align-items-center w-100" nz-submenu="false" *ngFor="let menu of submenu()"
            [nzTitle]="menu.title" [nzIcon]="menu.icon">
            <ul *ngFor="let menu of childMenu(menu.menuID)">
                <li nz-menu-item [routerLink]="menu.url">{{ menu.title }}</li>
            </ul>
        </li>

        <li class="nav-item align-items-center w-100" nz-menu-item *ngIf="width <= 600"
            routerLink="">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            <span style="margin-left: 10px;">Đăng xuất</span>
        </li>
    </ul>

    <ul class="extension nav nav-pills nav-flush flex-column mt-auto px-3 w-100" *ngIf="!isAdmin()">
        <li class="nav-item">
            <i class='bx bx-comment-dots'></i>
            <span>53</span>
        </li>
        <li>
            <i class='bx bx-bell'></i>
            <span>21</span>
        </li>
        <li class="nav-item">
            <i class='bx bx-gift'></i>
            <span>15</span>
        </li>
        <li>
            <i class='bx bx-cog'></i>
            <span>19</span>
        </li>
    </ul>
</div>