<app-loading *ngIf="loading"></app-loading>
<div class="body bg-white">
    <div class="title border-bottom d-flex justify-content-between align-items-center pb-1">
        <h4 class="m-1">{{ title }}</h4>
    </div>

    <form nz-form [formGroup]="validateForm" class="mt-4" *ngIf="title == 'Thêm nhân viên'" (ngSubmit)="submit()">
        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Họ và tên</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Hãy nhập tên!">
                <input nz-input formControlName="fullname" placeholder="Vd: Nguyễn Văn A" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Ngày sinh</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                nzErrorTip="Hãy chọn ngày sinh!">
                <nz-date-picker class="w-100" formControlName="birthday" nzPlaceHolder="Chọn ngày sinh"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Giới tính</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Hãy chọn giới tính!">
                <nz-select formControlName="gender" nzPlaceHolder="Chọn giới tính">
                    <nz-option nzValue="Nam" nzLabel="Nam"></nz-option>
                    <nz-option nzValue="Nữ" nzLabel="Nữ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzFor="phone" nzRequired>Số điện thoại</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback="" [nzValidateStatus]="validateForm.controls['phoneNumber']"
                nzErrorTip="Hãy nhập số điện thoại!">
                <nz-input-group>
                    <input formControlName="phoneNumber" type="tel" id="phone" nz-input placeholder="Nhập số điện thoại"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>E-mail</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="emailErrorTpl">
                <input nz-input formControlName="email" placeholder="email" type="email" />
                <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('email')">Hãy nhập đúng định dạng email!</ng-container>
                    <ng-container *ngIf="control.hasError('required')">Hãy nhập email!</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Chức vụ</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                nzErrorTip="Vui lòng chọn chức vụ!">
                <nz-select formControlName="position" nzPlaceHolder="Chọn chức vụ" nzAllowClear>
                    <nz-option *ngFor="let pos of positions" [nzValue]="pos.name"
                        [nzLabel]="pos.name"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Mật khẩu</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                nzErrorTip="Hãy nhập mật khẩu!">
                <input nz-input type="password" formControlName="password" placeholder="Mật khẩu"
                    (ngModelChange)="validateConfirmPassword()" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Xác nhận mật khẩu</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                [nzErrorTip]="passwordErrorTpl">
                <input nz-input type="password" formControlName="confirm" placeholder="Xác nhận mật khẩu" />
                <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Hãy nhập mật khẩu!</ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">Mật khẩu không trùng khớp!</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzOffset]="width <= 600 ? 2 : 6">
                <label nz-checkbox [(ngModel)]="isChecked" formControlName="isManager">
                    Chọn mục này để xác nhận tạo tài khoản cho quản lý
                </label>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzOffset]="width <= 600 ? 1 : 6" [nzSpan]="12">
                <button nz-button nzType="primary" [disabled]="!validateForm.valid">Hoàn tất đăng ký</button>
                <button nz-button (click)="resetForm($event)">Xóa tất cả</button>
            </nz-form-control>
        </nz-form-item>
    </form>

    <form nz-form [formGroup]="validateForm" class="mt-4" *ngIf="title != 'Thêm nhân viên'" (ngSubmit)="update()">
        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Họ và tên</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Hãy nhập tên!">
                <input nz-input formControlName="fullname" placeholder="Vd: Nguyễn Văn A" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Ngày sinh</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                nzErrorTip="Hãy chọn ngày sinh!">
                <nz-date-picker class="w-100" formControlName="birthday" nzPlaceHolder="Chọn ngày sinh"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzRequired>Giới tính</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Hãy chọn giới tính!">
                <nz-select formControlName="gender" nzPlaceHolder="Chọn giới tính">
                    <nz-option nzValue="Nam" nzLabel="Nam"></nz-option>
                    <nz-option nzValue="Nữ" nzLabel="Nữ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-start" [nzSpan]="width > 600 && width <= 1024 ? 7 : 6" nzFor="phone" nzRequired>Số điện thoại</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback="" [nzValidateStatus]="validateForm.controls['phoneNumber']"
                nzErrorTip="Hãy nhập số điện thoại!">
                <nz-input-group>
                    <input formControlName="phoneNumber" type="tel" id="'phone'" nz-input placeholder="Nhập số điện thoại"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzOffset]="width <= 600 ? 1 : 6" [nzSpan]="12">
                <button nz-button nzType="primary" >Hoàn tất cập nhật</button>
                <button nz-button (click)="resetForm($event)">Xóa tất cả</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>