<div class="body bg-white">
    <div class="title border-bottom d-flex justify-content-between align-items-center">
        <h4 class="m-1">Quản lý phân quyền</h4>
    </div>

    <div>
        <div class="row p-3 w-50">
            <div class="col-4">

            </div>

            <div class="col-4">
                <h6 class="text-center">Administrator</h6>
            </div>

            <div class="col-4">
                <h6 class="text-center">User</h6>
            </div>

            <div class="row w-100 px-0 m-0 py-3 mb-3" *ngFor="let emp of employees">
                <div class="col-4">
                    <p>{{ emp.fullname }}</p>
                </div>
    
                <div class="col-8">
                    <!-- <nz-radio-group [(ngModel)]="emp.role" (ngModelChange)="handleChange(emp.idEmployee, emp.role)" name="role" class="w-100">
                        <div class="row">
                            <div class="col-6" *ngFor="let role of roles">
                                <label class="d-flex justify-content-center" nz-radio [nzValue]="role"></label>
                            </div>
                        </div>
                      </nz-radio-group> -->
                </div>
            </div>
        </div>
    </div>
</div>