<div class="body bg-white">
    <div class="title border-bottom d-flex justify-content-between align-items-center">
        <h4 class="m-1">Nhân viên</h4>

        <div class="view position-relative">
            <div class="view-btn position-absolute d-flex">
                <button class="active">Nhân viên</button>
                <button>Live View</button>
                <button>Biểu đồ</button>
            </div>
        </div>
    </div>

    <div class="d-flex btn-options mt-3">
        <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="add" class="d-flex align-items-center">
            Thêm mới
            <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
        <nz-dropdown-menu #add="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item><a [routerLink]="['/home/employee/employeeform']">Thêm nhân viên</a></li>
                <li nz-menu-item>Nhập từ file excel</li>
                <li nz-menu-item>menu1 3rd menu item</li>
            </ul>
        </nz-dropdown-menu>

        <button nz-button nzType="primary" nzDanger nz-dropdown [nzDropdownMenu]="export" class="d-flex align-items-center">
            Xuất
            <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
        <nz-dropdown-menu #export="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item><span nz-icon nzType="file-pdf" nzTheme="outline"></span> PDF</li>
                <li nz-menu-item (click)="exportXLSX()"><span nz-icon nzType="file-excel" nzTheme="outline"></span> Excel</li>
            </ul>
        </nz-dropdown-menu>

        <button nz-button nzType="primary" class="d-flex align-items-center ms-auto" [disabled]="loading" (click)="handleReload()">
            Tải lại
            <span nz-icon nzType="reload" nzTheme="outline"></span>
        </button>
    </div>

    <nz-table #rowSelectionTable id="table" [nzLoading]="loading" nzShowSizeChanger [nzData]="employees">
        <thead>
            <tr>
                <th>#</th>
                <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                    {{ column.title }}
                </th>
                <th>Liên hệ</th>
                <th style="width: 10%;" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.fullname }}</td>
                <td>{{ dateFormat(data.birthday) }}</td>
                <td>{{ data.gender }}</td>
                <td>{{ data.phoneNumber }}</td>
                <td class="text-center d-flex align-items-center">
                    <button nz-button nzType="primary"><span nz-icon nzType="info-circle" nzTheme="outline"></span></button>
                    <button class="edit-btn" nz-button nzType="primary" [routerLink]="['/home/employee/employeeform/', data.employeeID]"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
                    <button 
                        class="delete-btn"
                        nz-button
                        nzType="primary"
                        nz-popconfirm
                        [nzPopconfirmTitle]="'Bạn có muốn xóa ' + data.fullname + '?'"
                        (nzOnConfirm)="confirm(data.employeeID)"
                        (nzOnCancel)="cancel()"
                        nzPopconfirmPlacement="top"
                    >
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>