<div class="body bg-white">
    <div class="title border-bottom d-flex justify-content-between align-items-center pb-1">
        <h4 class="m-1">Nhân viên</h4>

        <div class="view position-relative">
            <div class="view-btn position-absolute d-flex">
                <button class="active">Nhân viên</button>
                <button>Live View</button>
                <button>Biểu đồ</button>
            </div>
        </div>
    </div>

    <div class="d-flex btn-options my-3">
        <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="add" class="d-flex align-items-center">
            <span>Thêm mới</span>
            <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
        <nz-dropdown-menu #add="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item><a [routerLink]="['/home/employee/employeeform']">Thêm nhân viên</a></li>
                <li nz-menu-item>
                    <label for="file-upload" class="custom-file-upload">
                        Từ file excel
                    </label>
                    <input type="file" name="file" id="file-upload" [(ngModel)]="currentFile" accept=".xls, .xlsx"
                        (change)="onFileSelected($event)" />
                </li>
                <li nz-menu-item>menu1 3rd menu item</li>
            </ul>
        </nz-dropdown-menu>

        <button nz-button nzType="primary" nzDanger nz-dropdown [nzDropdownMenu]="export"
            class="ms-1 d-flex align-items-center">
            <span>Xuất</span>
            <span nz-icon nzType="export" nzTheme="outline"></span>
        </button>
        <nz-dropdown-menu #export="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item><span nz-icon nzType="file-pdf" nzTheme="outline"></span> PDF</li>
                <li nz-menu-item (click)="exportXLSX()"><span nz-icon nzType="file-excel" nzTheme="outline"></span>
                    Excel</li>
            </ul>
        </nz-dropdown-menu>

        <button nz-button nzType="primary" class="d-flex align-items-center ms-auto" [disabled]="loading"
            (click)="handleReload()">
            <span>Tải lại</span>
            <span nz-icon nzType="reload" nzTheme="outline"></span>
        </button>
    </div>

    <nz-table #rowSelectionTable id="table" [nzLoading]="loading" nzShowSizeChanger [nzData]="employees"
         [nzScroll]="width <= 600 ? { x:'800px'} : width <= 1024 ? { x:'1280px'} : {}">
        <thead>
            <tr>
                <th class="text-center" style="width: 5%">#</th>
                <th nzCustomFilter *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                    {{ column.title }}
                    <nz-filter-trigger *ngIf="!column.priority" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                        <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                </th>
                <th [nzRight]="width <= 600" style="width: 12%;" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td>{{ data.fullname }}</td>
                <td>{{ dateFormat(data.birthday) }}</td>
                <td>{{ data.gender }}</td>
                <td>{{ data.phoneNumber }}</td>
                <td>{{ data.createdBy }} <br /> <span class="note">{{ dateTimeFormat(data.createdAt) }}</span></td>
                <td>{{ data.lastUpdatedBy != null ? data.lastUpdatedBy : "" }} <br /> <span class="note">{{
                        data.lastUpdatedAt != null ? dateTimeFormat(data.lastUpdatedAt) : "" }}</span></td>
                <td *ngIf="width > 600">
                    <button class="edit-btn" nz-button nzType="primary"
                        [routerLink]="['/home/employee/employeeform/', data.employeeID]"><span nz-icon nzType="edit"
                            nzTheme="outline"></span></button>
                    <button class="delete-btn" nz-button nzType="primary" nz-popconfirm
                        [nzPopconfirmTitle]="'Bạn có muốn xóa ' + data.fullname + '?'"
                        (nzOnConfirm)="confirm(data.employeeID)" (nzOnCancel)="cancel()" nzPopconfirmPlacement="top">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                </td>
                <td nzRight class="text-center action" *ngIf="width <= 600">
                    <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter">
                        <span nz-icon nzType="more" nzTheme="outline"></span>
                    </a>
                </td>

                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item>
                            <button class="btn-action"
                                [routerLink]="['/home/employee/employeeform/', data.employeeID]">Sửa</button>
                        </li>
                        <li nz-menu-item>
                            <button class="btn-action" nz-popconfirm
                                [nzPopconfirmTitle]="'Bạn có muốn xóa ' + data.fullname + '?'"
                                (nzOnConfirm)="confirm(data.employeeID)" (nzOnCancel)="cancel()"
                                nzPopconfirmPlacement="top">Xóa</button>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </tr>
        </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
    </nz-dropdown-menu>
</div>