<div>
    <h1>404 not found</h1>
</div>
<div class="disk-div">
    <div class="img-div">
        <img src="https://freefrontend.com/assets/img/html-css-404-page-templates/404-SVG-Animated-Page-Concept.png"
            alt="">
    </div>

    <div class="text-div">
        <h2>I have bad news for you</h2>
        <p>The page you are looking for might be removed or is temporarily unavailable</p>
        <input type="button" value="Back to homepage">
    </div>
</div>
<footer>
    <p>Programmer_io
        @ <a href="#">DevChallenges.io</a></p>
</footer>