button {
    margin-left: 8px;
}

.phone-select {
    width: 70px;
}

td span,
i {
    font-size: 11px;
    color: rgb(111, 149, 0);
}

td .status {
    text-align: center;
    font-size: 12px;
    border: 1px solid;
    padding: 0.3rem 0.7rem;
    color: rgb(53, 139, 252);
}

form div {
    width: 75%;
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.passenger-input {
    width: 90%;
    margin-right: 8px;
}

.remove-button {
    display: none;
}

.add-button {
    width: 40%;
}

@media screen and (max-width: 600px) {
    form div {
        display: block !important;
        width: 100%;
    }

    .passenger-input {
        width: 100%;
        margin-bottom: 8px;
    }

    .dynamic-delete-button {
        display: none;
    }

    .remove-button, .add-button {
        display: block;
        width: 100%;
    }
}